@use '../shared.scss';

.ChannelMessageView {
  width: 100%;
  display: flex;
  animation-name: onAddedElement;
  animation-duration: 0.5s;

  .Icon {
    width: 40px;
    margin-right: 8px;
    padding-top: 3px;

    * {
      width: 40px;
      height: 40px;
      display: block;
    }

    a {
      transition-property: opacity;
      transition-duration: .2s;

      &:hover {
        opacity: .6;
      }
    }

    img {
      border-radius: 20px;
    }
  }

  .Body {
    color: #e6e6e6;
    font-size: 0.95em;
    line-height: 1.9;

    .Content {
      background-color: #27282c;
      padding: 6px 10px;
      border-radius: 5px;
      border: solid 1px #2f2f34;

      .UserName {
        color: rgb(90 90 90);
        line-height: 1.2;

        i {
          font-size: 0.9em;
          padding-left: 10px;
        }

        a {
          padding-left: 10px;
          color: #dedede;

          &:hover {
            color: #e23838;
          }
        }
      }

      .Main {
        margin-top: 6px;
      }
    }
  }
}
