$headerHeight: 38px;

$selectedMenuColor: #b22532;

$sidebarZIndex: 1050;
$headerZIndex: 1000;
$dialogBackgroundZIndex: 900;
$ambientTimelineZIndex: 100;

@keyframes onAddedElement {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}