@use '../shared.scss';
@use 'sass:math';

$ambWidth: 250px;
$ambHeight: 550px;
$ambHeaderHeight: 26px;
$ambIconSize: 24px;

#AmbientTimeline {
  color: #c1c1c1;
  width: $ambWidth;
  height: $ambHeight + $ambHeaderHeight;
  right: 20px;
  bottom: 130px;
  border: solid 1px rgb(49 53 61);
  border-bottom: none;
  position: absolute;
  overflow: hidden;
  z-index: shared.$ambientTimelineZIndex;
  background-color: rgb(47 51 59 / 59%);
  backdrop-filter: blur(3px);
  border-radius: 4px 4px 0 0;

  transition-property: opacity;
  transition-duration: .2s;

  &:hover {
    opacity: .15;
  }

  h3 {
    height: $ambHeaderHeight;
    line-height: $ambHeaderHeight;
    font-size: 1em;
    margin: 0 10px;
    border-bottom: solid 1px rgb(49 53 61);
    text-align: center;
  }

  .Notes {
    width: 100%;
    height: $ambHeight;
    overflow: hidden;

    .Note {
      width: 100%;
      min-height: $ambIconSize;
      margin: 10px 0;
      padding: 0 10px;
      box-sizing: border-box;
      display: flex;

      animation-name: onAddedElement;
      animation-duration: 0.5s;
  
      .Icon {
        width: $ambIconSize;
  
        img {
          width: $ambIconSize;
          height: $ambIconSize;
          border-radius: math.div($ambIconSize, 2);
          display: block;
        }
      }
  
      p {
        margin-left: 10px;
        width: $ambWidth - $ambIconSize - 10px * 2 - 10px;
        font-size: 0.9em;
        line-height: 1.6;
      }
    }
  }
}
