@use '../shared.scss';

#ChannelList {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;

  .WithButtonHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgb(68 68 68);
    align-items: center;
    margin: 10px 10px 0 10px;
    padding: 5px 0;

    h2 {
      font-weight: normal;
      font-size: 1.4em;
      color: white;
    }

    a {
      width: 15px;
      height: 15px;
      color: white;
      display: block;

      &:hover {
        color: #e23838;
      }

      * {
        width: 100%;
        height: 100%;
      }
    }
  }

  h3 {
    color: #b30032;
    font-size: 1.2em;
    padding: 10px 5px 5px 10px;
  }

  ul {
    list-style: none;

    li {
      width: 100%;
      list-style: none;

      &.NotSelectable {
        padding: 4px 5px 4px 20px;
        box-sizing: border-box;
      }
  
      a {
        width: 100%;
        color: #999;
        padding: 4px 5px 4px 20px;
        text-decoration: none;
        box-sizing: border-box;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
      }

      &.Selected {
        a {
          font-weight: bold;
          color: #ffeded;
          cursor: default;
          background-color: shared.$selectedMenuColor;
          border-right: solid 1px #1d1d1d;
        }
      }

      i {
        color: #BFBFBF;
      }

      &:not(.Selected) a:hover {
        cursor: pointer;
        background-color: #2a2a2a;
      }

      &.UnRead a {
        color: white;
        font-weight: bold;
      }
    }
  }
}

